@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}
header {
  width: 100%;
}

nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}
.nav-link a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-size: 400;
  transition: color 0.5s ease-in-out;
}
.nav-link a:hover {
  color: #05716c;
}

.socials {
  display: flex;
  gap: 20px;
}

.socials a {
  color: white;
  font-size: 1.5rem;
  transition: color 0.5s ease-in-out;
}
.socials a:hover {
  color: #05716c;
}

.details ion-icon {
  font-size: 20px;
  background-color: blue;
}

/* .theme__container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    
} */

/* 
.line4{
    height: 5 0px;
    background-color: #05716c;
    width: 1px;

} */

.theme {
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 20px;
}
.theme ion-icon {
  font-size: 2rem;
}

.work {
  width: 100%;
  margin-top: 20px 0;
}
.work__container {
  width: 90%;
  margin: 30px auto;
}

.section__title {
  color: white;
  font-weight: 500;
  letter-spacing: 2;
  text-align: center;
  font-size: 2rem;
  position: relative;
}
.section__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 5%;
  right: 48%;
  margin-bottom: -10px;
  height: 2px;
  background-color: #05716c;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "a  d c "
    "b  e c";
  width: 70%;
  gap: 20px;
  margin: 100px auto;
}

.lux {
  grid-area: a;
  max-height: 300px;
  position: relative;
}

.lux-details {
  position: absolute;
  color: white;
  max-width: 200px;
  top: 10%;
  font-size: 1.2rem;
  text-align: left;
  opacity: 0;
  transition: all .7s ease-in-out;
}
.lux:hover p {
  transform: translateX(10%);
  opacity: 1;
}
.lux img {
  height: 95%;
  width: 100%;
  position: relative;
}
.lux img::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 1;
  position:absolute;
  z-index: -1;
}
.quizapp {
  grid-area: b;
  max-height: 300px;
}

.quizapp img {
  height: 95%;
  width: 100%;
}
.ins {
  grid-area: c;
  max-height: 600px;
}

.ins img {
  width: 100%;
  height: 98%;
}

.app_gallery {
  grid-area: d;
  max-height: 300px;
}

.app_gallery img {
  height: 95%;
  width: 100%;
}

.netflix {
  grid-area: e;
  max-height: 300px;
}

.netflix img {
  height: 95%;
  width: 100%;
}

.details {
  display: flex;
  justify-content: space-around;
}
.details a {
  color: #fff;
  text-decoration: none;
  position: relative;
}
.details a::before {
  content: "";
  background-color: #05716c;
  position: absolute;
  top: 45%;
  left: -25%;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}
.projects img {
  border-radius: 5px;
}

/* contact section */

.contact {
  width: 100%;
  padding-top: 20px;
}
.contact__container {
  width: 90%;
  margin: 50px auto;
  display: flex;
}

.contact__me {
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact__me h1 {
  font-weight: 600;
  letter-spacing: 2;
  font-size: 2.5rem;
}
.collaborate {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 2.5px;
  width: 80%;
  text-align: justify;
}

.reachme {
  display: flex;
  gap: 10px;
  align-items: center;
}
.reachme ion-icon {
  color: #05716c;
  font-size: 2rem;
}
.reachme p {
  font-size: 1.2rem;
}
.contact__form {
  color: white;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 40px;
}
.fnames,
.email,
.message {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact__form p {
  font-size: 1.2rem;
}
.contact__form input {
  outline: none;
  border-bottom: 1px solid #05716c;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
}
.submit_btn {
  border: 1px solid #05716c;
  background-color: transparent;
  padding: 15px 0;
  width: 30%;
  border-radius: 10px;
  align-self: flex-end;
}
.submit_btn a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.education {
  width: 100%;
  margin-top: 50px;
}

.education__container {
  width: 70%;
  padding-top: 50px;
  color: #fff;
  margin: 0 auto;
  gap: 50px;
}

.education__container ion-icon {
  font-size: 1.5rem;
  color: #05716c;
}

.edu_section {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}
.vline {
  height: 100px;
  max-height: 50%;
  background-color: #05716c;
  width: 1px;
}

.education__details {
  width: 80%;
}

.dits p {
  color: #05716c;
  margin-bottom: 5px;
}
.dits h2 {
  font-size: 2rem;
  font-weight: 400;
}

.dits h3 {
  font-weight: 300;
  font-size: 1rem;
}
/* themes */

.light {
  color: #000;
}
.bodybg {
  background-color: whitesmoke;
}
